.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiAccordion-rounded:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #37474f;
}


.MuiAppBar-colorPrimary {
  background-color: #102027 !important; 
}


body {
  background-image: url(assets/images/NavPic.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MuiCollapse-entered {
  height: auto;
  overflow: visible;
  background-image: url(assets/images/111.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar{
  background-image: url(assets/images/111.jpg);
}

/* .makeStyles-paper-8 {
    width: 800px;
    border: 2px solid #000;
    height: 590px !important;
    padding: 8px 32px 24px;
    position: absolute;
    box-shadow: 1px 1px 5px 2px rgba(255, 255, 255);
    background-color: black !important;
} */

.MuiPaper-root {
  background-color: black !important;
}

.MTableHeader-header-15 {
  
  background-color: black !important;
}


